<%=flash[:error_message]%>
<h2>Login</h2>
<%=form_for :login do |f|%>
    <%=f.label :username%>
    <%=f.text_field :username%>
    <%=f.label :password%>
    <%=f.password_field :password%>
    <%=f.submit "Login"%>
<%end%>
<%=link_to "Create an Account", 'users/new'%>
<%=link_to "IronDocs™ Stats", 'stats/index'%>
<%=form_for :user do |f|%>
    <%=f.search_field(:user)%>
    <%=f.submit "Search Users or Projects"%>
<%end%>