<%=flash[:alert_message]%>
<div class="container">
<h1><%=@user.username%>'s profile page</h1>

<%if session[:user_id] == @user.id%>
    <div class="search">
        <%=form_tag search_own_files_path(@user) do %>
            Search: <%=text_field_tag "search"%>
            <%=submit_tag "Apply Search"%>
        <%end%>
    </div>

    <h3> Your Posts </h3>
    
    <%if !@posts.empty?%>
        <ul>
            <%@posts.each do |post|%>
                <li><%=link_to post.title, post_path(post)%> - Urgency: 
                    <% case post.urgency_level%>
                    <%when 1%>
                        <span class="alert alert-success" role="alert">
                        None
                        </span>
                    <%when 2%>
                        Low
                    <%when 3%>
                        Medium
                    <%when 4%>
                        High
                    <%when 5%>
                        <span class="alert alert-danger" role="alert">
                        Urgent
                        </span>
                    <%end%>              
                </li>
            <%end%>
        </ul>
    <%else%>
        <p>You don't have any posts yet!</p>
    <%end%>

    <div class="flex">
        <div>
            <h3> Your Projects</h3>
        </div>
<%end%>
        <div class="create">
            <%=link_to "New Project", new_project_path%>
        </div>
    </div>

<%@projects.each do |p|%>
    <dl class="dl-horizontal project">
        <dt class="title"><%= link_to p.title, project_path(p)%></dt>
        <dd>Description: 
            <%if p.description.empty?%>
                This project does not have a description.
            <%else%>
                <%=p.description%>
            <%end%>
        </dd>
    </dl>
<%end%>
</div>