<%=flash[:alert_message]%>
<h1><%=@user.username%>'s profile page</h1>

<%=link_to "New Project", new_project_path%>

<ul>
<%@projects.each do |p|%>
    <ul>
        <li>Title: <%= link_to p.title, project_path(p)%></li>
        <li>Description: <%=p.description%></li>
        <hr>
    </ul>
<%end%>
</ul>