<%=link_to "Back to User", user_path(session[:user_id])%>

<h1>Project Title: <%=@project.title%> </h1>


<ul>
    <%@posts.each do |post|%>
        <li><%=link_to post.title, post_path(post)%> - Urgency: <%=post.urgency_level%></li>
    <%end%>
</ul>
<div>
    <p><%=link_to "New Post", new_post_path%></p>
    </p><%=link_to "Invite Collaborator", '/projects/invite'%></p>
    </p><%=link_to "Edit Project", edit_project_path(@project)%></p>
    </p><%=link_to "Remove from My Projects", project_path(@project), method: :delete%></p>
</div>

