<%=form_for(@post) do |f|%>
    <%#=f.label :title%>
    <%=f.text_field :title%> <br>

    <%=f.label :urgency_level%>
    <%=f.select :urgency_level, [['none', 1], ['low', 2], ['medium', 3], ['high', 4], ['urgent', 5]]%> 

    <%#=f.label :public_access%>
    Anyone can edit: <%=f.check_box :public_access%> <br>
 
    <%#=f.label :content%>
    <%=f.text_area :content, cols: "100", rows: "45"%> <br>


    

    <%=f.submit%>
<%end%>

<div class="markdown_key">
    <table>
        <caption><a href="https://daringfireball.net/projects/markdown/basics">Markdown</a> Key</caption>
        <thead>
            <tr>
                <th scope="row">Italics</th>
            </tr>
            <tr>
                <th scope="row">Bold</th>
            </tr>
            <tr>
                <th scope="row">Headers</th>
            </tr>
            <tr>
                <th scope="row">Numbered List</th>
            </tr>
            <tr>
                <th scope="row">Bullet List</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>*italics*<td>
            </tr>
            <tr>
                <td>**bold**</td>
            </tr>
            <tr>
                <td># Header 1 #, ## Header 2 ##</td>
            </tr>
            <tr>
                <td>1. Numbered</td>
            </tr>
            <tr>
                <td>*   Bullets!</td>
            </tr>
        <tbody>
    </table>
</div>