<div class="container">
    <%=form_for(@post) do |f|%>
        <div class="form-inline">
            <div class="form-group title">
                <%#=f.label%>
                <%=f.text_field :title%>
            </div>
        <%#=f.label%>
            <div class="form-group">
                <div class="post-settings">
                    <%=f.select :urgency_level, [['none', 1], ['low', 2], ['medium', 3], ['high', 4], ['urgent', 5]], { :class => 'form-control' }%>
                    Set reminder: <%=f.date_field :alert_date%>
                    <%#=f.label :public_access%>
                    Anyone can edit: <%=f.check_box :public_access unless !@change_access_privilege%>
                </div>
                <div class="btn btn-lg right">
                    <%=f.submit%>
                </div>
            </div>
        </div>
        <%#=f.label :content%>
        <div class="text">
            <%=f.text_area :content%>
        </div>
    <%end%>
</div>

<div class="container">
    <table class="table table-hover">
        <caption>Check out the <a href="https://daringfireball.net/projects/markdown/basics">Markdown</a> Key for more formatting options.</caption>
        <tbody>
            <tr>
                <th>Italics</th>
                <td>*italics*</td>
            </tr>
            <tr>
                <th>Bold</th>
                <td>**bold**</td>
            </tr>
            <tr>
                <th>Headers</th>
                <td># Header 1 #, ## Header 2 ##</td>
            </tr>
            <tr>
                <th>Numbered List</th>
                <td>1. Numbered</td>
            </tr>
            <tr>
                <th>Bullet List</th>
                <td>*   Bullets!</td>
            </tr>
            <tr>
                <th>Horizontal Rule</th>
                <td>---</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>![Image description](path/image.jpg "Title of Image")</td>
            </tr>
        </tbody>
    </table>
</div>