<%=link_to "Back to #{@last_project.title} Directory", project_path(@last_project) %>
<h1>Title: <%=@post.title%></h1>


<p><%=@post.public_access%></p>
<p>Public access: <%=@post.public_access%></p>
<p>Urgency level: <%=@post.urgency_level%></p>

<%=link_to "Edit Post", edit_post_path(@post)%>

<div class="post_content">
    <h2>Content: </h2>
    <%#=@post.content%>
    <%=@markdown.render(@post.content).html_safe%>
</div>

<%=link_to "Delete", post_path(@post), method: :delete%>
