<div class="container">
    <h3>Top 5 viewed public projects:</h3>
    <ul>
            <%@top_5_public_projects.each do |project|%>
            <li class=""><%=link_to project.title, project_path(project)%> - views: <%=project.views%></li>
            <%end%>
    </ul>
    <ul class="list-group stats">
        <li class="list-group-item">Total number of posts: <%=@num_posts%></li>
        <li class="list-group-item">Total number of projects: <%=@num_projects%></li>
        <li class="list-group-item">Total number of users: <%=@num_users%>
        <li class="list-group-item">Total number of public projects: <%=@num_public_projects%></li>
        <li class="list-group-item">Average number of posts per project: <%=@average_num_posts%></li>
        <li class="list-group-item">Average number of collaborators per project: <%=@average_num_users%></li>
        <li class="list-group-item">Percentage of projects that are public: <%=@percent_public%>%</li>
        <li class="list-group-item">Average word count per post: <%=@average_word_count%></li>
        <li class="list-group-item">Most viewed public project: <%=link_to @most_viewed_public_project.title, project_path(@most_viewed_public_project)%>
    </ul>
</div>
