<ul>
    <li>Total number of posts: <%=@num_posts%></li>
    <li>Total number of projects: <%=@num_projects%></li>
    <li>Total number of users: <%=@num_users%>
    <li>Total number of public projects: <%=@num_public_projects%></li>
    <li>Average number of posts per project: <%=@average_num_posts%></li>
    <li>Average number of collaborators per project: <%=@average_num_users%></li>
    <li>Percentage of projects that are public: <%=@percent_public%></li>
    <li>Average word count per post: <%=@average_word_count%></li>
</ul>
<%=link_to "Login", '/login'%>
